.about {
  padding-bottom: 110px;
}

.about__container {
  max-width: 1170px;
  margin: 0 auto;
  background: url("../img/year-d@1x.jpg") no-repeat -25px 0px;
  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/year-d@2x.jpg");
    background-size: 220px auto;
  }
}

.about__heading {
  font-size: 36px;
  font-family: $roboto-c;
  line-height: 140%;
  margin-bottom: 18px;
  margin-left: 178px;
}

.about__text {
  font-size: 16px;
  line-height: 134%;
  margin-left: 178px;
  &:first-of-type {
    margin-bottom: 24px;
  }
  &:last-of-type {
    margin-bottom: 39px;
  }
  &-m {
    display: none;
  }
}

.about__button {
  font-size: 14px;
  font-family: $roboto-c;
  font-weight: 700;
  text-transform: uppercase;
  color: $blue;
  background-color: $white;
  padding: 14px 53px;
  border: solid 1px $blue;
  border-radius: 5px;
  margin-left: 178px;
  &:active,
  &:hover,
  &:focus {
    cursor: pointer;
    outline: none;
    background-color: $blue;
    color: $white;
  }
}

@include media-tablet {
  .about {
    padding-bottom: 83px;
  }
  .about__container {
    padding: 0 25px;
    background: url("../img/year-t@1x.jpg") no-repeat 0px 0px;
    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/year-d@2x.jpg");
      background-size: 251px auto;
    }
  }
  .about__heading {
    font-size: 32px;
    margin-left: 185px;
    margin-bottom: 29px;
  }
  .about__text {
    margin-left: 188px;
    &-m {
      display: inline-block;
    }
    &-d {
      display: none;
    }
    &:last-of-type {
      margin-bottom: 43px;
    }
    .about__button {
      margin-left: 187px;
    }
  }
  .about__button {
    margin-left: 188px;
  }
}

@include media-mobile {
  .about {
    padding-bottom: 50px;
  }
  .about__container {
    background: rgba(0, 0, 0, 0);
    padding: 0 16px 15px;
  }
  .about__heading {
    font-size: 28px;
    margin: 0;
    margin-bottom: 23px;
  }
  .about__text {
    margin: 0;
    &:first-of-type {
      margin-bottom: 44px;
    }
    &:last-of-type {
      margin-bottom: 35px;
    }
    &-m {
      display: inline-block;
    }
    &-d {
      display: none;
    }
  }
  .about__button {
    margin: 0;
  }
}
