.about__container {
  max-width: 1170px;
  margin: 0 auto;
  padding-bottom: 124px;

  background: url("../img/year-d@1x.png") no-repeat -25px 0;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/year-d@2x.png");
    background-size: 220px auto;
  }
}

.about__heading {
  margin-bottom: 18px;
  margin-left: 178px;

  font-size: 36px;
  line-height: 140%;
  font-family: $roboto-c;
}

.about__text {
  margin-left: 178px;

  font-size: 16px;
  line-height: 134%;

  &-m {
    display: none;
  }

  &--margin {
    &:first-of-type {
      margin-bottom: 24px;
    }

    &:last-of-type {
      margin-bottom: 53px;
    }
  }
}

.about__button {
  margin-left: 178px;
  padding: 14px 53px;

  font-size: 14px;
  font-family: $roboto-c;
  color: $blue;
  font-weight: 700;
  text-decoration: none;
  letter-spacing: 0.05em;
  text-transform: uppercase;

  border: solid 1px $blue;
  border-radius: 5px;
  background-color: $white;

  &:active,
  &:hover,
  &:focus {
    color: $white;

    cursor: pointer;
    outline: none;
    background-color: $blue;
  }
}

@include media-tablet {
  .about__container {
    padding: 0 25px;
    padding-bottom: 98px;

    background: url("../img/year-t@1x.png") no-repeat 0 0;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/year-t@2x.png");
      background-size: 251px auto;
    }
  }


  .about__heading {
    margin-bottom: 29px;
    margin-left: 185px;

    font-size: 32px;
  }

  .about__text {
    margin-left: 188px;

    &-m {
      display: inline-block;

      vertical-align: bottom;
    }

    &-d {
      display: none;
    }

    &--margin {
      &:last-of-type {
        margin-bottom: 55px;
      }

      .about__button {
        margin-left: 187px;
      }
    }
  }

  .about__button {
    margin-left: 187px;
    padding: 14px 50px;
  }
}

@include media-mobile {
  .about__container {
    padding: 0 16px 15px;
    padding-bottom: 78px;

    background: rgba(0, 0, 0, 0);
  }

  .about__heading {
    margin: 0;
    margin-bottom: 23px;

    font-size: 28px;
  }

  .about__text {
    margin: 0;

    &-m {
      display: inline-block;

      vertical-align: bottom;
    }

    &-d {
      display: none;
    }

    &--margin {
      &:first-of-type {
        margin-bottom: 44px;
      }

      &:last-of-type {
        margin-bottom: 48px;
      }
    }
  }

  .about__button {
    margin: 0;
    padding: 14px 50px;
  }
}
