.description {
  background: url("../img/board-d@1x.png") no-repeat 700px 173px;
  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/board-d@2x.png");
    background-size: 705px auto;
  }
  padding-top: 231px;
  padding-bottom: 278px;
  @media(min-width: 1550px) {
    background-position: 85% 173px;
  }
}

.description__container {
  margin: 0 auto;
  padding: 0 36px;
  max-width: 1494px;
}

.description__heading {
  font-family: $roboto-c;
  font-weight: 700;
  font-size: 80px;
  text-transform: uppercase;
  color: $white;
  letter-spacing: 0.07em;
  margin-bottom: 25px;
}

.description__text {
  font-size: 22px;
  line-height: 157%;
  color: $white;
  width: 610px;
  position: relative;
  margin-bottom: 43px;
  margin-left: 98px;
  &:before {
    content: "";
    position: absolute;
    background-color: $white;
    width: 66px;
    height: 2px;
    top: 17px;
    left: -93px;
  }
}

.description__button {
  font-family: $roboto-c;
  font-weight: 700;
  letter-spacing: 0.05em;
  font-size: 16px;
  text-transform: uppercase;
  color: $white;
  background-color: $blue;
  padding: 18px 46px;
  border: none;
  border-radius: 5px;
  margin-left: 98px;
  &:focus,
  &:active,
  &:hover {
    opacity: 0.7;
    outline: none;
    cursor: pointer;
  }
}

.description__button--m {
  display: none;
}

@include media-tablet {
  .description {
    background: url("../img/board-t@1x.png") no-repeat right 37px;
    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/board-t@2x.png");
      background-size: 260px auto;
    }
    padding-top: 113px;
    padding-bottom: 163px;
  }
  .description__container {
    padding-left: 88px;
  }
  .description__heading {
    font-size: 60px;
    width: 310px;
    ;
    margin-bottom: 30px;
  }
  .description__text {
    font-size: 18px;
    width: 356px;
    margin-left: 51px;
    margin-bottom: 55px;
    &:before {
      width: 33px;
      top: 15px;
      left: -49px;
    }
  }
  .description__button {
    padding: 18px 32px;
    margin-left: 51px;
  }
}

@include media-mobile {
  .description {
    padding-bottom: 70px;
    background: url("../img/board-m@1x.png") no-repeat right 37px;
    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/board-m@2x.png");
      background-size: 301px auto;
    }
  }
  .description__container {
    padding: 0px 15px;
  }
  .description__heading {
    width: auto;
    font-size: 40px;
    margin-bottom: 29px;
  }
  .description__text {
    width: auto;
    margin-left: 51px;
    font-size: 16px;
    margin-bottom: 40px;
    &:before {
      width: 33px;
      top: 15px;
      left: -49px;
    }
  }
  .description__button {
    padding: 18px 33px;
    margin: 0;
    margin-left: 3px;
  }
  .description__button--d {
    display: none;
  }
  .description__button--m {
    display: block;
  }
}
