.features {
  margin-bottom: 80px;
  padding-top: 114px;
}

.features__container {
  max-width: 1250px;
  margin: 0 auto;
}

.features__heading {
  margin-bottom: 21px;

  font-size: 24px;
  font-family: $roboto-c;
  color: $blue;
}

.features__text {
  font-size: 16px;
  line-height: 134%;
}

.features__list {
  justify-content: space-evenly;
  width: auto;

  @include flex;
}

.features__item {
  position: relative;

  width: 45%;
  max-width: 570px;
  min-height: 299px;
  margin-bottom: 30px;
  padding: 98px 42px 67px 44px;

  border: solid 1px $gray;
  border-left: solid 3px $blue;
  background-color: $white;

  &:hover {
    color: $white;

    border-color: $blue;
    outline: none;
    background-color: $blue;
  }

  &:hover .features__heading {
    color: $white;
  }

  &:hover .features__icon-img {
    filter: brightness(0) invert(1);
  }
}

.features__icon {
  position: absolute;
  top: 42px;
  left: 41px;

  width: 35px;
}

@include media-tablet {
  .features {
    margin-bottom: 26px;
    padding-top: 37px;
  }

  .features__item {
    width: 45%;
    min-height: 306px;
    padding: 70px 22px 0 24px;

    &--small {
      min-height: 232px;
    }
  }

  .features__icon {
    position: absolute;
    top: 25px;
    left: 25px;

    width: 31px;
  }

  .features__heading {
    margin-bottom: 14px;
  }
}

@include media-mobile {
  .features {
    margin-bottom: 57px;
    padding-top: 37px;
  }

  .features__heading {
    margin-bottom: 10px;

    font-size: 20px;
    line-height: 140%;
  }

  .features__list {
    display: block;
    margin: 0 auto;
    padding: 0 15px;
  }

  .features__item {
    width: 100%;
    min-height: 310px;
    margin: 0 auto;
    margin-bottom: 20px;
    padding: 75px 17px 0 23px;

    &--small {
      min-height: 244px;
    }

    &--pp-mb-temp {
      min-height: 234px;
      // в макете нет отступа и другой паддинг
      padding-top: 64px;

      .features__heading {
        margin-bottom: -5px;
      }
    }

    &--pp-pr-temp {
      padding-right: 10px;
      // в макете паддинг меньше, чем у остальных
    }

    &--pp-pt-temp {
      padding-top: 67px;

      .features__heading {
        margin-bottom: 13px;
      }

      // в макете почему-то паддинг больше, чем у остальных
    }
  }

  .features__text {
    margin-bottom: 20px;
  }

  .features__icon {
    top: 25px;
    left: 23px;
  }
}
