.footer {
  padding-top: 62px;
  padding-bottom: 14px;

  background-color: $white-bg-2;
}

.footer__container {
  justify-content: space-between;
  max-width: 1451px;
  margin: 0 auto;
  padding: 0 20px;

  @include flex;
}

.footer__heading {
  position: relative;

  margin-bottom: 24px;

  font-size: 15px;
  line-height: 16px;
  font-family: $roboto-c;
  color: $navy;
  text-align: left;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.footer__upper {
  padding-bottom: 26px;

  border-bottom: 1px solid rgba(98, 105, 98, 0.2);
}

.footer__upper-list--closed {
  display: none;
}

.footer__upper-section {
  margin-bottom: 30px;

  &:last-of-type {
    margin-bottom: 0;
  }
}

@media (min-width: 768px) {
  .footer__upper-list--closed {
    display: block;
  }

  .footer__upper-heading--closed {
    &::before {
      display: none;
    }

    &::after {
      display: none;
    }
  }
}

@include media-tablet {
  .footer {
    padding-top: 19px;
    padding-bottom: 24px;
  }

  .footer__container {
    padding: 0;
  }

  .footer__upper {
    padding-bottom: 0;
  }

  .footer__upper-section {
    margin-bottom: 37px;
  }
}

@include media-mobile {
  .footer {
    padding-top: 44px;
    padding-bottom: 26px;
  }

  .footer__container {
    padding: 0;
  }

  .footer__upper {
    padding: 0;

    border: none;
  }

  .footer__heading {
    margin-bottom: 0;
    padding: 28px 15px;

    &::before {
      position: absolute;
      top: 36px;
      right: 17px;

      width: 16px;
      height: 1px;

      content: "";
      background-color: #c4c4c4;
    }
  }

  .footer__upper-heading--closed {
    &::after {
      position: absolute;
      top: 28px;
      right: 25px;

      width: 1px;
      height: 16px;

      content: "";
      background-color: #c4c4c4;
    }
  }


  .footer__upper-section {
    width: 100%;
    margin-bottom: 0;

    border-bottom: 1px solid rgba(98, 105, 98, 0.2);
  }
}
