.footer-lower {
  padding-top: 14px;
}

.footer-lower__link,
.footer-lower__item {
  font-size: 13px;
  line-height: 25px;
  color: rgba(27, 45, 55, 0.5);
  text-align: left;
  text-decoration: none;
  letter-spacing: 0.04em;
  text-transform: uppercase;
}

.footer-lower__link {
  &:hover,
  &:active,
  &:focus {
    color: rgba(27, 45, 55, 1);
  }
}

.footer-lower__copyright-1 {
  margin-right: 72px;
}

.footer-lower__copyright-2 {
  margin-right: 9.7%;
}

.footer-lower__copyright-3 {
  display: block;
  margin-right: 0;
  margin-left: auto;
}

.footer-lower__container {
  max-width: 1451px;
  margin: 0 auto;
  padding: 0 20px;
}

.footer-lower__list {
  justify-content: space-between;

  @include flex;
}

@include media-tablet {
  .footer-lower {
    padding-top: 21px;
  }

  .footer-lower__container {
    padding: 0 27px;
  }

  .footer-lower__copyright-1,
  .footer-lower__copyright-2 {
    display: none;
  }
}

@include media-mobile {
  .footer-lower {
    padding-top: 28px;
  }

  .footer-lower__copyright-1,
  .footer-lower__copyright-2 {
    display: none;
  }

  .footer-lower__list {
    display: block;
  }

  .footer-lower__item {
    margin-bottom: 21px;

    text-align: center;

    &:last-of-type {
      margin-bottom: 0;
    }
  }
}
