.footer-lower {
  padding-top: 14px;
}

.footer-lower__link,
.footer-lower__item {
  font-size: 13px;
  letter-spacing: 0.04em;
  line-height: 25px;
  text-align: left;
  color: $gray;
  text-decoration: none;
  text-transform: uppercase;
  &:hover,
  &:active,
  &:focus {
    opacity: 1;
  }
}

.footer-lower__item {
  opacity: 0.5;
  &:nth-of-type(1) {
    margin-right: 59px;
  }
  &:nth-of-type(2) {
    margin-right: 7.7%;
  }
  &:nth-of-type(4) {
    display: block;
    margin-left: auto;
    margin-right: 0;
  }
}

.footer-lower__container {
  margin: 0 auto;
  max-width: 1451px;
  padding: 0 20px;
}

.footer-lower__list {
  @include flex;
  justify-content: space-between;
}

@include media-tablet {
  .footer-lower {
    padding-top: 21px;
  }
  .footer-lower__container {
    padding: 0 27px;
  }
  .footer-lower__copyright-1,
  .footer-lower__copyright-2 {
    display: none;
  }
}

@include media-mobile {
  .footer-lower {
    padding-top: 28px;
  }
  .footer-lower__copyright-1,
  .footer-lower__copyright-2 {
    display: none;
  }
  .footer-lower__list {
    display: block;
  }
  .footer-lower__item {
    text-align: center;
    margin-bottom: 21px;
    &:last-of-type {
      margin-bottom: 0;
    }
  }
}
