.links__list {
  column-gap: 65px;

  @media (min-width: 1210px) {
    columns: 2;
  }
}

.links__link {
  font-size: 15px;
  line-height: 25px;
  color: $navy;
  text-align: left;
  text-decoration: none;

  opacity: 0.5;

  &:hover,
  &:active,
  &:focus {
    opacity: 1;
  }
}

@include media-tablet {
  .links {
    padding-top: 38px;
    padding-left: 26px;
  }

  .links__list {
    width: auto;

    columns: 1;
  }
}

@include media-mobile {
  .links__list {
    width: auto;
    padding: 0 15px;
    padding-bottom: 25px;

    columns: 1;
  }
}
