.main-nav {
  width: 660px;
  padding-top: 15px;
}

.main-nav__list {
  justify-content: space-between;

  @include flex;
}

.main-nav__item {
  &:first-child {
    margin-right: 40px;
  }
}

.main-nav__link {
  text-decoration: none;

  outline: none;

  &:hover,
  &:active,
  &:focus {
    opacity: 0.5;
  }
}

.main-nav__link-img {
  &--envelope {
    width: 19px;
    height: 14px;
    margin-right: 20px;
  }

  &--phone {
    width: 18px;
    height: 18px;
    margin-right: 16px;
  }
}

.main-nav__link-text {
  line-height: 17.92px;
  color: $white;
}

.main-nav__btn {
  padding: 14px 28px;

  font-size: 14px;
  line-height: 16.41px;
  font-family: $roboto-c;
  color: $white;
  font-weight: 700;
  letter-spacing: 0.05em;
  text-transform: uppercase;

  border: solid $white 1px;
  border-radius: 3px;
}

@include media-mobile-tablet {
  .main-nav__link-text {
    display: none;
  }

  .main-nav__btn {
    display: none;
  }
}

@include media-mobile-tablet {
  .main-nav {
    width: auto;
    padding-top: 15px;
  }

  .main-nav__list {
    justify-content: right;
  }

  .main-nav__item:first-child {
    margin-right: 35px;
  }

  .main-nav__link-img {
    &--envelope {
      width: 25px;
      height: 19px;
      margin: 0;
    }

    &--phone {
      width: 24px;
      height: 24px;
      margin: 0;
      margin-top: -3px;
    }
  }
}

@include media-mobile {
  .main-nav {
    padding-top: 7px;
  }

  .main-nav__item:first-child {
    margin-right: 22px;
  }
}
