.main-header {
  position: relative;

  background: url("../img/bg-d@1x.jpg") no-repeat 0 center;
  background-color: $navy;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/bg-d@2x.jpg");
    background-size: 1920px auto;
  }
}

.main-header__container {
  justify-content: space-between;
  max-width: 1451px;
  margin: 0 auto;
  padding: 33px 20px 0 20px;

  @include flex;
}

.main-header__logo-img--mobile {
  display: none;
}

@media (max-width: 320px) {
  .main-header {
    min-height: 235px;
    margin: 0;

    background: url("../img/bg-m@1x.jpg") no-repeat 0 0;
    background-color: #ffffff;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-m@2x.jpg");
      background-size: 320px auto;
    }
  }
}

@media (min-width: 321px) and (max-width: 770px) {
  .main-header {
    background: url("../img/bg-t@1x.jpg") no-repeat top center;
    background-color: #ffffff;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-t@2x.jpg");
      background-size: 768px auto;
    }
  }
}

@include media-tablet {
  .main-header__container {
    width: 750px;
    margin: 0 auto;
    padding: 20px 15px 0 15px;
  }
}

@include media-mobile {
  .main-header__logo-img--desktop {
    display: none;
  }

  .main-header__logo-img--mobile {
    display: block;
  }
}

@include media-mobile {
  .main-header__container {
    width: auto;
    margin: 0 auto;
    padding: 17px 16px 0 17px;
  }
}
