.modal--closed {
  display: none;
}

@keyframes bounce {
  0% {
    transform: translateY(-2000px);
  }

  70% {
    transform: translateY(30px);
  }

  90% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
}

.modal--error {
  animation: shake 0.6s;
}

.modal__overlay {
  position: fixed;
  z-index: 99;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  display: flex;
  overflow: hidden;
  overflow-y: auto;
  justify-content: center;
  align-items: center;
  padding: 30px 0;

  background-color: rgba(0, 0, 0, 0.4);

  -webkit-overflow-scrolling: touch;
  flex-flow: column nowrap;
}

.modal__container {
  position: relative;

  width: 490px;
  margin: 0 auto;
  padding: 33px 39px;

  animation: bounce 0.6s;
  background-color: $blue;

  flex-shrink: 0;
}

.modal .modal__button {
  position: absolute;
  top: 20px;
  right: 20px;

  width: 17px;
  height: 17px;
  padding: 0;

  border: none;
  background: url("../img/cross.svg") no-repeat 0 0;

  &:hover,
  &:focus,
  &:active {
    opacity: 0.5;
    background: url("../img/cross.svg") no-repeat 0 0;
  }
}

.modal h2 {
  margin-bottom: 11px;

  font-size: 36px;
  line-height: 140%;
  font-family: $roboto-c;
  color: $white;
  text-align: left;
}

.modal p {
  width: 381px;
  margin-bottom: 51px;
  margin-left: 5px;

  line-height: 134%;
  color: $white;
  text-align: left;
}

.modal ul {
  margin-left: 5px;
}

.modal li {
  margin-bottom: 30px;

  flex-grow: 1;
}

.modal input {
  width: 100%;
  padding: 14px 15px 17px 20px;

  font-size: 16px;
  color: $white;

  border: none;
  border-radius: 0;
  background-color: rgba(255, 255, 255, 0.1);

  &:focus,
  &:active {
    outline: $white solid 2px;
  }
}

.modal textarea {
  width: 100%;
  height: 154px;
  margin-bottom: 40px;
  padding: 14px 15px 17px 20px;

  font-size: 16px;
  color: $white;

  resize: none;
  border: none;
  border-radius: 0;
  background-color: rgba(255, 255, 255, 0.1);

  &:focus,
  &:active {
    outline: $white solid 2px;
  }
}

.modal input::-webkit-input-placeholder,
.modal textarea::-webkit-input-placeholder {
  color: $white;
}

.modal input::-moz-placeholder,
.modal textarea::-moz-placeholder {
  color: $white;
}

.modal input:-ms-placeholder,
.modal textarea:-ms-placeholder {
  color: $white;
}

.modal__form-container {
  position: relative;

  justify-content: space-between;
  align-items: center;

  @include flex;
}

.modal button {
  width: 100%;
  margin-bottom: 34px;
  margin-left: 3px;
  padding: 14px 0;

  font-size: 14px;
  font-family: $roboto-c;
  color: $white;
  font-weight: 700;
  letter-spacing: 0.05em;
  text-transform: uppercase;

  border: solid 1px $white;
  border-radius: 5px;
  background-color: $blue;

  &:hover,
  &:active,
  &:focus {
    color: $blue;

    cursor: pointer;
    outline: none;
    background-color: $white;
  }
}

.modal label {
  position: relative;

  width: 230px;

  font-size: 14px;
  color: $white;
}

.modal label[for="modal-checkbox"] {
  width: 337px;
  margin-left: 43px;
}

.modal input[type="checkbox"] + .modal__checkbox-indicator {
  position: absolute;
  top: 0;
  bottom: 15px;
  left: -35px;

  width: 16px;
  height: 16px;

  border: 1px solid $white;
  background: rgba(0, 0, 0, 0);
}

.modal input[type="checkbox"]:checked + .modal__checkbox-indicator {
  background: url("../../img/tick.svg") center center no-repeat;
}

@include media-tablet {
  .modal {
    display: none;
  }
}

@include media-mobile {
  .modal {
    display: none;
  }
}
