.questions {
  padding-top: 94px;
  padding-bottom: 111px;

  background-color: $blue;
  background-image: url("../img/plane@1x.png");
  background-repeat: no-repeat;
  background-position: -250px -60px;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/plane@2x.png");
    background-size: 1745px auto;
  }

  @media (min-width: 1700px) {
    background-position: 177px -60px;
  }

  &--animation {
    animation: bounce 0.6s;

    @keyframes bounce {
      0% {
        transform: translateY(-2000px);
      }

      70% {
        transform: translateY(30px);
      }

      90% {
        transform: translateY(-10px);
      }

      100% {
        transform: translateY(0);
      }
    }
  }
}


.questions__container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.questions h2 {
  margin-bottom: 11px;

  font-size: 36px;
  line-height: 140%;
  font-family: $roboto-c;
  color: $white;
  text-align: left;
}

.questions p {
  margin-bottom: 55px;
  margin-left: 5px;

  color: $white;
  text-align: left;
}

.questions__container-right {
  width: 570px;
  margin-left: auto;
}

.questions ul {
  justify-content: space-between;
  margin-left: 5px;

  @include flex;
}

.questions li {
  flex-grow: 1;

  &:first-of-type {
    margin-right: 31px;
    margin-bottom: 40px;
  }
}

.questions input {
  width: 100%;
  padding: 14px 15px 17px 20px;

  font-size: 16px;
  color: $white;

  border: none;
  border-radius: 0;
  background-color: rgba(255, 255, 255, 0.1);

  &:focus,
  &:active {
    outline: $white solid 2px;
  }
}

.questions textarea {
  width: 100%;
  height: 154px;
  margin-bottom: 40px;
  padding: 14px 15px 17px 20px;

  font-size: 16px;
  color: $white;

  resize: none;
  border: none;
  border-radius: 0;
  background-color: rgba(255, 255, 255, 0.1);

  &:focus,
  &:active {
    outline: $white solid 2px;
  }
}

.questions input::-webkit-input-placeholder,
.questions textarea::-webkit-input-placeholder {
  color: $white;
}

.questions input::-moz-placeholder,
.questions textarea::-moz-placeholder {
  color: $white;
}

.questions input:-ms-placeholder,
.questions textarea:-ms-placeholder {
  color: $white;
}

.questions__form-container {
  position: relative;

  justify-content: space-between;
  align-items: center;

  @include flex;
}

.questions button {
  width: 270px;
  margin-left: 3px;
  padding: 14px 0;

  font-size: 14px;
  font-family: $roboto-c;
  color: $white;
  font-weight: 700;
  letter-spacing: 0.05em;
  text-transform: uppercase;

  border: solid 1px $white;
  border-radius: 5px;
  background-color: $blue;

  &:hover,
  &:active,
  &:focus {
    color: $blue;

    cursor: pointer;
    outline: none;
    background-color: $white;
  }
}

.questions label {
  position: relative;

  width: 230px;

  font-size: 14px;
  color: $white;
}

.questions input[type="checkbox"] + .questions__checkbox-indicator {
  position: absolute;
  top: 0;
  right: 245px;
  bottom: 15px;

  width: 16px;
  height: 16px;

  border: 1px solid $white;
  background: rgba(0, 0, 0, 0);
}

.questions input[type="checkbox"]:checked + .questions__checkbox-indicator {
  background: url("../../img/tick.svg") center center no-repeat;
}

@include media-tablet {
  .questions {
    padding-top: 78px;
    padding-bottom: 103px;

    background: $blue;
  }

  .questions h2 {
    margin-bottom: 19px;

    font-size: 32px;
  }

  .questions button {
    width: 279px;
    padding: 15px 0;
  }

  .questions__container-right {
    width: 590px;
    margin: 0 auto;
  }

  .questions label {
    margin-right: 4px;
  }

  .questions textarea {
    height: 159px;
    margin-bottom: 42px;
    padding-left: 15px;
  }

  .questions input {
    padding: 16px 15px 20px 16px;
  }

  .questions input[type="checkbox"] + .questions__checkbox-indicator {
    right: 248px;
  }
}

@include media-mobile {
  .questions {
    padding-top: 29px;
    padding-bottom: 44px;

    background: $blue;
  }

  .questions__container {
    padding: 0 15px;
  }

  .questions__container-right {
    width: 290px;
    margin: 0 auto;
  }

  .questions h2 {
    width: 243px;
    margin-bottom: 15px;

    font-size: 28px;
  }

  .questions ul {
    display: block;
    margin: 0;
  }

  .questions li {
    margin: 0;
    margin-bottom: 30px;

    &:first-of-type {
      margin: 0;
      margin-bottom: 30px;
    }

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  .questions input {
    padding: 16px 15px 19px 18px;
  }

  .questions textarea {
    height: 104px;
    margin-bottom: 27px;
  }

  .questions label[for="checkbox"] {
    margin-left: 33px;
  }

  .questions p {
    width: 269px;
    margin: 0;
    margin-bottom: 26px;

    line-height: 134%;
  }

  .questions button {
    width: 290px;
    margin-bottom: 30px;
    padding: 14px 0;
  }

  .questions input[type="checkbox"] + .questions__checkbox-indicator {
    top: 0;
    left: -33px;
  }
}
