.questions {
  background-color: $blue;
  padding-top: 94px;
  padding-bottom: 113px;
  background-image: url("../img/plane@1x.png");
  background-repeat: no-repeat;
  background-position: -250px -60px;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/plane@2x.png");
    background-size: 1745px auto;
  }

  @media (min-width: 1700px) {
    background-position: 177px -60px;
  }
}

.questions__container {
  max-width: 1200px;
  padding: 0 20px;
  margin: 0 auto;
}

.questions h2 {
  color: $white;
  font-family: $roboto-c;
  font-size: 36px;
  line-height: 140%;
  margin-bottom: 11px;
  text-align: left;
}

.questions p {
  color: $white;
  margin-bottom: 55px;
  margin-left: 5px;
  text-align: left;
}

.questions__container-right {
  width: 570px;
  margin-left: auto;
}

.questions ul {
  @include flex;

  justify-content: space-between;
  margin-left: 5px;
}

.questions li {
  flex-grow: 1;

  &:first-of-type {
    margin-right: 31px;
    margin-bottom: 40px;
  }
}

.questions input {
  width: 100%;
  padding: 14px 0 17px 20px;
  border: none;
  font-size: 16px;
  color: $white;
  background-color: rgba(255, 255, 255, 0.1);

  &:focus,
  &:active {
    outline: $white solid 2px;
  }
}

.questions textarea {
  resize: none;
  height: 154px;
  margin-bottom: 40px;
  width: 100%;
  padding: 14px 0 17px 20px;
  border: none;
  font-size: 16px;
  color: $white;
  background-color: rgba(255, 255, 255, 0.1);

  &:focus,
  &:active {
    outline: $white solid 2px;
  }
}

.questions input::-webkit-input-placeholder {
  color: $white;
}

.questions input::-moz-placeholder {
  color: $white;
}

.questions input:-ms-placeholder {
  color: $white;
}

.questions__form-container {
  position: relative;

  @include flex;
  align-items: center;
  justify-content: space-between;
}

.questions button {
  width: 270px;
  font-size: 14px;
  font-family: $roboto-c;
  font-weight: 700;
  text-transform: uppercase;
  color: $white;
  background-color: $blue;
  padding: 14px 0;
  margin-left: 3px;
  border: solid 1px $white;
  border-radius: 5px;
  letter-spacing: 0.05em;

  &:hover,
  &:active,
  &:focus {
    cursor: pointer;
    outline: none;
    background-color: $white;
    color: $blue;
  }
}

.questions label {
  position: relative;
  width: 230px;
  color: $white;
  font-size: 14px;
}

.questions input[type="checkbox"] + .questions__checkbox-indicator {
  position: absolute;
  bottom: 15px;
  width: 16px;
  height: 16px;
  background: rgba(0, 0, 0, 0);
  border: 1px solid $white;
  right: 245px;
  top: 0;
}

.questions input[type="checkbox"]:checked + .questions__checkbox-indicator {
  background: url("../../img/tick.svg") center center no-repeat;
}

@include media-tablet {
  .questions {
    padding-top: 78px;
    padding-bottom: 103px;
    background: $blue;
  }

  .questions h2 {
    font-size: 32px;
    margin-bottom: 19px;
  }

  .questions button {
    width: 279px;
    padding: 15px 0;
  }

  .questions__container-right {
    width: 590px;
    margin: 0 auto;
  }

  .questions label {
    margin-right: 4px;
  }

  .questions textarea {
    height: 159px;
    margin-bottom: 44px;
  }

  .questions input[type="checkbox"] + .questions__checkbox-indicator {
    right: 252px;
  }
}

@include media-mobile {
  .questions {
    background: $blue;
    padding-top: 29px;
    padding-bottom: 41px;
  }

  .questions__container {
    padding: 0 15px;
  }

  .questions__container-right {
    width: 290px;
    margin: 0 auto;
  }

  .questions h2 {
    font-size: 28px;
    width: 243px;
    margin-bottom: 15px;
  }

  .questions ul {
    display: block;
    margin: 0;
  }

  .questions li {
    &:first-of-type {
      margin: 0;
      margin-bottom: 30px;
    }

    &:last-of-type {
      margin-bottom: 0;
    }

    margin: 0;
    margin-bottom: 30px;
  }

  .questions input {
    padding: 15px 16px 18px 20px;
  }

  .questions textarea {
    height: 104px;
    margin-bottom: 30px;
  }

  .questions label[for="checkbox"] {
    margin-left: 33px;
  }

  .questions p {
    width: 269px;
    margin: 0;
    margin-bottom: 26px;
    line-height: 134%;
  }

  .questions button {
    padding: 14px 0;
    width: 290px;
    margin-bottom: 30px;
  }

  .questions input[type="checkbox"] + .questions__checkbox-indicator {
    left: -33px;
    top: 0;
  }
}
