.services {
  padding-top: 92px;
  padding-bottom: 107px;

  background-color: $navy;
}

.services__container {
  max-width: 1185px;
  margin: 0 auto;
}

.services__heading {
  margin-bottom: 50px;
  margin-left: 8px;

  font-size: 36px;
  line-height: 140%;
  font-family: $roboto-c;
  color: $white;
  text-align: left;
}

.services__text {
  display: block;
  width: 215px;
  padding-top: 52px;
  padding-left: 43px;

  font-size: 20px;
  line-height: 30px;
  font-family: $roboto-c;
  color: $white;
  text-align: left;
}

.services__list {
  justify-content: space-evenly;
  margin: 0 auto;

  @include flex;
}

.services__item {
  margin-right: 20px;
  margin-bottom: 20px;

  &:last-of-type {
    margin-right: 0;
  }

  &--production .services__link {
    background: url("../img/card-1-d@1x.png") no-repeat 0 0;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/card-1-d@2x.png");
      background-size: 370px auto;
    }
  }

  &--montage .services__link {
    background: url("../img/card-2-d@1x.png") no-repeat 0 0;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/card-2-d@2x.png");
      background-size: 370px auto;
    }
  }

  &--parts .services__link {
    background: url("../img/card-3-d@1x.png") no-repeat 0 0;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/card-3-d@2x.png");
      background-size: 370px auto;
    }
  }
}

.services__link {
  position: relative;

  display: block;
  width: 370px;
  height: 620px;

  text-decoration: none;

  cursor: pointer;

  &::before {
    position: absolute;
    right: 0;
    bottom: 0;

    width: 63px;
    height: 63px;

    content: "";
    background-color: $blue;
    background-image: url("../img/arrow-right.svg");
    background-repeat: no-repeat;
    background-position: center center;
  }

  &:active,
  &:hover,
  &:focus {
    opacity: 0.7;
    outline: none;
  }
}

@include media-tablet {
  .services {
    padding-top: 50px;
    padding-bottom: 79px;
  }

  .services__container {
    padding: 0 26px;
  }

  .services__heading {
    margin-right: 90px;
    margin-left: 0;

    font-size: 32px;
  }

  .services__list {
    display: block;
  }

  .services__item {
    width: 720px;
    margin: 0 auto;
    margin-bottom: 46px;

    &:last-of-type {
      margin: 0 auto;
    }

    &--production .services__link {
      background: url("../img/card-1-t@1x.png") no-repeat 0 0;
      width: 715px;

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/card-1-t@2x.png");
        background-size: 720px auto;
      }
    }

    &--montage .services__link {
      background: url("../img/card-2-t@1x.png") no-repeat 0 0;

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/card-2-t@2x.png");
        background-size: 720px auto;
      }
    }

    &--parts .services__link {
      background: url("../img/card-3-t@1x.png") no-repeat 0 0;

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/card-3-t@2x.png");
        background-size: 720px auto;
      }
    }

    &--parts .services__text {
      padding-top: 51px;
    }
  }

  .services__link {
    width: 720px;
    height: 256px;
  }

  .services__text {
    padding-top: 42px;
  }
}

@include media-mobile {
  .services {
    padding-top: 50px;
    padding-bottom: 34px;
  }

  .services__container {
    padding: 0 15px;
  }

  .services__list {
    display: block;
  }

  .services__item {
    width: 100%;
    margin: 0;
    margin-bottom: 30px;

    &--production .services__link {
      background-image: url("../img/card-1-m@1x.png");
      background-repeat: no-repeat;
      background-position: 0 0;
      background-size: cover;

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/card-1-m@2x.png");
        background-size: 100% auto;
      }
    }

    &--montage .services__link {
      background-image: url("../img/card-2-m@1x.png");
      background-repeat: no-repeat;
      background-position: 0 0;
      background-size: cover;

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/card-2-m@2x.png");
        background-size: 100% auto;
      }
    }

    &--parts .services__link {
      background-image: url("../img/card-3-m@1x.png");
      background-repeat: no-repeat;
      background-position: 0 0;
      background-size: cover;

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/card-3-m@2x.png");
        background-size: 100% auto;
      }
    }

    &--parts .services__text {
      padding-top: 30px;
    }
  }

  .services__heading {
    margin: 0;
    margin-bottom: 42px;
    margin-left: 10px;

    font-size: 28px;
  }

  .services__link {
    width: 100%;
    height: 256px;
  }

  .services__text {
    width: 200px;
    padding-top: 20px;
    padding-left: 35px;
  }
}
