@font-face {
  font-style: normal;
  font-family: "Ptmono";
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/ptmono.woff2") format("woff2"), url("../fonts/ptmono.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-family: "Roboto-condensed";
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/robotocondensed.woff2") format("woff2"), url("../fonts/robotocondensed.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-family: "Roboto-condensed";
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/robotocondensedbold.woff2") format("woff2"), url("../fonts/robotocondensedbold.woff") format("woff");
}
