*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  min-width: 320px;
  margin: 0;
  font-size: 16px;
  color: $gray;
  font-family: "Ptmono", "Georgia", serif;
  font-weight: 400;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  white-space: nowrap;
  border: 0;
  clip-path: inset(100%);
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.heading {
  margin: 0;
  font-weight: 400;
}

.paragraph {
  margin: 0;
}

.white-wrapper {
  background: url("../img/shapes-d@1x.png") no-repeat 0 0;
  background-color: $white;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/card-1-d@2x.png");
    background-size: 1920px auto;
  }

  @include media-mobile-tablet {
    background: url("../img/shapes-t@1x.png") no-repeat -119px 700px;
    background-color: $white;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/shapes-t@2x.png");
      background-size: 559px auto;
    }
  }
}
