$blue: #00b2ff;
$white: #ffffff;
$white-bg: #e5e5e5;
$white-bg-2: #fafafa;
$gray: #666666;
$navy: #1b2d37;
$widthMobile: 320px;
$widthTablet: 768px;
$widthDesktop: 1024px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
$roboto-c: "Roboto-condensed","Arial",sans-serif;
