$blue: #00B2FF;
$white: #FFFFFF;
$white-bg: #E5E5E5;
$white-bg-2: #FAFAFA;
$gray: #666666;
$navy: #1B2D37;
$widthMobile: 320px;
$widthTablet: 768px;
$widthDesktop: 1024px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
$roboto-c: 'Roboto-condensed','Arial',sans-serif;
